{% extends 'base.html.twig' %}
{% block title %}Timetable{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="/js/site.js"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Timetable</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Week</th>
                {% for project in projects %}
                    <th scope="col">{{ project.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for week, weekProjects in events %}
                    <tr>
                        <th scope="row">{{ week }}</th>
                        {% for project in projects %}
                            <td>
                                {% if weekProjects[project.id] is defined %}
                                    {% for event in weekProjects[project.id] %}
                                        <a href="#"
                                           class="btn btn-outline-{% if event.isFinished %}success{% else %}primary{% endif %} btn-sm"
                                           data-toggle="modal"
                                           data-target="#editEventWnd"
                                           data-event="{{ event.eventId }}"
                                        >{% if event.isFinished %}<i class="far fa-check-circle"></i> {% endif %}{{ event.eventName }}</a>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="javascript://" role="button" class="btn btn-primary" data-toggle="modal" data-target="#editEventWnd" data-event=""><i class="fas fa-plus-circle"></i> New event</a>
        <p>&nbsp;</p>
        <h1>Projects</h1>
        <div class="row">
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for project in projects %}
                        {% if project.is_managed %}
                            <a class="list-group-item list-group-item-action list-project"
                               id="list-project{{ project.id }}-list"
                               data-toggle="list"
                               data-project-id="{{ project.id }}"
                               href="#list-project{{ project.id }}"
                               role="tab"
                               aria-controls="project{{ project.id }}"
                            >{{ project.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                    {% for project in projects %}
                        {% if project.is_managed %}
                            <div class="tab-pane fade" id="list-project{{ project.id }}" role="tabpanel" aria-labelledby="list-project{{ project.id }}-list">
                                <div class="d-flex w-100 justify-content-between">
                                    <h2>{{ project.name }}</h2>
                                    <a href="javascript://" class="btn btn-primary" data-toggle="modal" data-target="#logsWnd" data-project="{{ project.id }}">Logs</a>
                                </div>
                                <p>&nbsp;</p>
                                <ul id="grants-project{{ project.id }}" class="list-group"></ul>
                                <p>&nbsp;</p>
                                <a href="javascript://" role="button" class="btn btn-primary" onclick="grantForm.editGrant({{ project.id }}, '', '')"><i class="fas fa-plus-circle"></i> Add user</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="editEventWnd" tabindex="-1" role="dialog" aria-labelledby="editEventWnd" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEventTitle">Event settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editEvent" action="#" method="post" name="editEvent">
                        <div class="form-group row">
                            <label for="inputEventTitle" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" id="inputEventTitle" placeholder="Event title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEventDate" class="col-sm-2 col-form-label">Start date</label>
                            <div class="col-sm-10">
                                <input type="text" name="start_date" class="form-control" id="inputEventDate" placeholder="Event date (Y-m-d H:i:s)">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEventType" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <select id="inputEventType" name="type" class="form-control">
                                    {% for eventType in eventTypes %}
                                        <option value="{{ eventType }}">{{ eventType }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEventProject" class="col-sm-2 col-form-label">Project</label>
                            <div class="col-sm-10">
                                <select id="inputEventProject" name="project" class="form-control">
                                    {% for project in projects %}
                                        {% if project.writable %}
                                            <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEventSummary" class="col-sm-2 col-form-label">Summary</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="summary" id="inputEventSummary" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEventDescription" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="description"  id="inputEventDescription" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEventIsFinished" class="col-sm-2 col-form-label">Is finished?</label>
                            <div class="col-sm-10">
                                <p>
                                    <input type="checkbox" name="is_finished" id="inputEventIsFinished" value="1" />
                                </p>
                            </div>
                        </div>
                        <div class="form-group row" id="changeReasonRow">
                            <label for="inputEventChangeReason" class="col-sm-2 col-form-label">Change reason</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="change_reason"  id="inputEventChangeReason" rows="2"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="inputEventId" name="event_id" value="0">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="createEvent">Create</button>
                    <button type="button" class="btn btn-primary" id="updateEvent">Edit</button>
                    <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editGrantsWnd" tabindex="-1" role="dialog" aria-labelledby="editGrantsWnd" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editGrantsTitle">Grants</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id="grantsError" style="display: none;"></div>
                    <form id="editGrants" action="#" method="post" name="editEvent">
                        <div class="form-group row">
                            <label for="inputGrantUser" class="col-sm-2 col-form-label">User</label>
                            <div class="col-sm-10">
                                <input type="text" name="user" class="form-control" id="inputGrantUser" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGrantAccess" class="col-sm-2 col-form-label">Scope</label>
                            <div class="col-sm-10">
                                <select id="inputGrantAccess" name="grant" class="form-control">
                                    {% for grant in grants %}
                                        <option value="{{ grant }}">{{ grant }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="inputProjectId" name="project_id" value="0">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="grantSave">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logsWnd" tabindex="-1" role="dialog" aria-labelledby="logsWnd" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logsWnd">Logs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" id="grant-tab-header" data-toggle="tab" href="#grantLog" role="tab" aria-controls="grant-tab" aria-selected="false">Grant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="event-tab-header" data-toggle="tab" href="#eventLog" role="tab" aria-controls="event-tab" aria-selected="false">Event</a>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="grantLog" role="tabpanel" aria-labelledby="grant-tab">grant log</div>
                        <div class="tab-pane fade" id="eventLog" role="tabpanel" aria-labelledby="event-tab">event log</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}